*.sff
src/__pycache__/
src/lib/schedule/__pycache__/
src/lib/schedule/formats/__pycache__/
src/lib/reporting/__pycache__/
src/lib/reporting/org/__pycache__/
src/lib/reporting/quarter/__pycache__/
src/lib/reporting/month/__pycache__/
src/test/__pycache__/
src/lib/ams/__pycache__/
src/lib/ams/actions/__pycache__/
test_data/db/Notes/Size/progress.csv
src/lib/database/__pycache__/
src/desktop/__pycache__/
src/lib/table/__pycache__/
build/
test/logs/
test/mako.bak
**.pyc
test_data/
*.json
dist/
**.egg-info